.task-content {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 100vh;
  background-color: #f7ecdc;
  position: relative;
}

.task-header {
  display: flex;
  align-items: center;
  padding: 13px 20px 10px;
  background-color: #e8e8e8;
  position: sticky;
  top: 0;
  z-index: 2;
}

.task-header_title {
  width: 50px;
  height: 50px;
  background-color: var(--group-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: 10px;
}

.task-note {
  margin: 20px 33px 0;
  background-color: #f7ecdc;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task-body {
  flex: 1; /* Take up available space */
  overflow-y: auto; /* Ensure scrolling is enabled */
  padding: 20px; /* Added padding for better spacing */
  padding-bottom: 160px; /* Space for footer */
}

.task-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  position: fixed;
  bottom: 0;
  width: 70vw;
  height: 140px; /* Adjust height as needed */
  z-index: 3;
}

.text-area {
  width: 95%;
  height: 120px; /* Adjust height if needed */
  margin: 10px;
  padding: 10px;
  resize: none;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
}

.send {
  margin-left: 10px;
  cursor: pointer;
}
